<!DOCTYPE html>
<html>

<head>
  <style>
 body {
   background-color: powderblue;
   text-align: center;
 }
 h1   {color: black;}
 </style>
</head>

<body>

  <% if(@birthday_date != @todays_date)%>
  <h1> ??? days until your Birthday </h1>
  <% else %>
  <h1> HAPPY BIRTHDAY <%= @name %>! </h1>
  <img src='https://www.birthdaywishes.expert/wp-content/uploads/2016/05/birthday-wish-colorful-cake.jpg' alt="Happy Birthday with cake">
  <% end  %>

</body>
</html>
